.bg-box {
max-width: 1500px;
height: 700px;
background:
url(../pictures/lamp-png-34914.png) repeat-x,
url(../pictures/grass.png) repeat-x,
url(../pictures/hedgehog.webp) repeat-y,
url(../pictures/donut.png) repeat-y,
url(../pictures/house.webp) no-repeat ;
background-color: green;
background-size: 60px, 350px, 50px, 60px, 500px, cover;
background-position: top , bottom, left, right, center;
}